@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(20, 20, 20);
    color:black;
}
.hdr{
    background-color: rgb(20, 20, 20);
    text-align: center;
}
.searchBarSection{
    text-align: center;
    margin: 0.5%;
}
.searchButton{
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 15px;
}
